<button type="button" class="btn btn-success m-3 pl-4 pr-4 float-right"
      (click)="add()">Add</button>
<table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col">Book Code</th>
                <th scope="col">Branch Number</th>
                <th scope="col">Copy Number</th>
                <th scope="col">Quality</th>
                <th scope="col">Price</th>
                <th scope="col" class="border-left" >Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let copy of copies, index as i">
                <td>{{copy.bookCode}}</td>
                <td>{{copy.branchNum}}</td>
                <td>{{copy.copyNum}}</td>
                <td>{{copy.quality}}</td>
                <td>${{copy.price}}</td>
                <td class="btn-group btn-block border-left">
                        <a role="button" class="btn btn-warning"><i (click)="modify(i)" class="fas fa-pen" style="color: white;"></i></a>
                        <a role="button" class="btn btn-danger" (click)="deleteButton(i)"><i class="fas fa-trash-alt" style="color: white;"></i></a>
                    </td>
            </tr>
        </tbody>
    </table>
