<div class="modal-header">
  <h4 class="modal-title">{{action}} Book</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<form>
  <div class="form-group">
    <label>Book Code</label>
    <input ngbAutofocus type="text" class="form-control" maxlength="4" [(ngModel)]="book.bookCode" name="bookCode" [readonly]="action === 'Modify'">
    <label>Title</label>
    <input type="text" class="form-control" maxlength="40" [(ngModel)]="book.title" name="title">
    <label>Publisher Code</label>
    <input type="text" class="form-control" maxlength="3" [(ngModel)]="book.publisherCode" name="publisherCode">
    <label>Type</label>
    <input type="text" class="form-control" maxlength="3" [(ngModel)]="book.type" name="type">
    <label>Paperback</label>
    <select class="form-control" [(ngModel)]="book.paperback" name="paperback">
      <option>Y</option>
      <option>N</option>
    </select>
  </div>
</form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
  <button type="button" class="btn text-white" [ngClass]="{'btn-success': action == 'Add','btn-warning': action == 'Modify'}"
  (click)="onClose()">{{action}}</button>
</div>