<div class="row">
  <div class="col-sm-12 list-group">
    <a href="#" class="list-group-item list-group-item-action"
     *ngFor="let result of results">
      <h4 class="mb-3">{{result.title}}</h4>
      <div class="float-left col-lg-4">
        <p><strong>Authors:</strong> {{result.authors}}</p>
        <p><strong>Publisher:</strong> {{result.publisherName}}</p>
        <p><strong>Publisher City:</strong> {{result.city}}</p>
      </div>
      <div class="float-left col-lg-8 ">
        <h5 class="col-12">Available at:</h5>
        <div class="float-left  col-md-4 rounded border mt-2 m-2"
        *ngFor="let loc of result.inventory, index as i">
          <h6 class="mt-2">{{loc.branchName}}</h6>
          <p>Location: {{loc.branchLocation}}</p>
          <p>QTY: {{loc.onHand}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
